### Generic ignores
# Ignore all files that start with a '.' by default.
.*
*.log

### Babel - https://babeljs.io
!.babelrc

### EditorConfig - http://editorconfig.com
!.editorconfig

### Git - https://git-scm.com/
!.gitignore

### NPM - https://www.npmjs.com/
# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
!.npmignore
node_modules/

### NVM - https://github.com/creationix/nvm
!.nvmrc

### NYC - https://github.com/bcoe/nyc
dist/test
coverage

### Travis CI - https://travis-ci.org
!.travis.yml
