### Generic ignores
# Ignore all files that start with a '.' by default.
.*
*.log

### Babel - https://babeljs.io
!.babelrc

### EditorConfig - http://editorconfig.com
!.editorconfig

### Git
!.gitignore

### NPM
# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
!.npmignore
node_modules/

### NVM
!.nvmrc

### Travis CI - https://travis-ci.org
!.travis.yml
